# 1. Read the Data

## Printing the first few values from the DataSet

In [127]:
!head /Users/narenkhatwani/Documents/GitHub/arkouda/Notebooks/Resources/wfp_market_food_prices.csv

adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,6,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,7,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,8,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,9,2014,50.0,WFP

## Checking the encoding of the csv file, resolved the partial encoding error

In [128]:
import chardet

with open("/Users/narenkhatwani/Documents/GitHub/arkouda/Notebooks/Resources/wfpvam_foodprices_utf8.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

## Reading the csv file and creating a dataframe

In [129]:
#importing necessary dependencies
import pandas as pd

df=pd.read_csv("/Users/narenkhatwani/Documents/GitHub/arkouda/Notebooks/Resources/wfpvam_foodprices_utf8.csv")

#displaying the top 5 rows for testing
df.head(5)

/Users/narenkhatwani/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

## Column Name Descriptions
1. adm0_id: country id
2. adm0_name: country name
3. adm1_id: locality id
4. adm1_name: locality name
5. mkt_id: market id
6. mkt_name: market name
7. cm_id: commodity purchase id
8. cm_name: commodity purchased
9. cur_id: currency id
10. cur_name: name of currency
11. pt_id: market type id
12. pt_name: market type (Retail/Wholesale/Producer/Farm Gate)
13. um_id: measurement id
14. um_name: unit of goods measurement
15. mp_month: month recorded
16. mpyear: year recorded *mpprice: price paid
17. mp_commoditysource: Source supplying price information

#### In order to read the csv stating a specific encoding we can use the encoding parameter

In [130]:
#df=pd.read_csv("/Users/narenkhatwani/Documents/GitHub/arkouda/Notebooks/Resources/wfp_market_food_prices_utf8.csv,encoding='ascii')

In [131]:
market_names_dictionary=pd.Series(df_marketcodes.adm1_name.values,index=df.adm1_id).to_dict()
#print(market_names_dictionary)

In [132]:
market2_names_dictionary=pd.Series(df_marketcodes.mkt_name.values,index=df.mkt_id).to_dict()
#print(market2_names_dictionary)

# 2. Cleaning the Data

## Creating another dataframe to resolve Market name column 'object' dtype issue

In [142]:
df_clean=pd.read_csv("/Users/narenkhatwani/Documents/GitHub/arkouda/Notebooks/Resources/wfpvam_foodprices_utf8.csv",usecols = ['adm0_id','adm0_name','adm1_id','mkt_id','cm_id','cm_name','cur_id','cur_name','pt_id','pt_name','um_id','um_name','mp_month','mp_year','mp_price','mp_commoditysource'])
df_clean.head(5)

,adm0_id,adm0_name,adm1_id,mkt_id,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,266,55,Bread - Retail,0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1,Afghanistan,272,266,55,Bread - Retail,0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1,Afghanistan,272,266,55,Bread - Retail,0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1,Afghanistan,272,266,55,Bread - Retail,0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1,Afghanistan,272,266,55,Bread - Retail,0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

## Printing the datatypes of the columns

In [143]:
df_clean.dtypes

adm0_id                 int64
adm0_name              object
adm1_id                 int64
mkt_id                  int64
cm_id                   int64
cm_name                object
cur_id                  int64
cur_name               object
pt_id                   int64
pt_name                object
um_id                   int64
um_name                object
mp_month                int64
mp_year                 int64
mp_price              float64
mp_commoditysource    float64
dtype: object

## Convert

In [144]:
df_clean['adm0_name'] = df_clean['adm0_name'].astype('|S')
df_clean['cm_name'] = df_clean['cm_name'].astype('|S') 
df_clean['cur_name'] = df_clean['cur_name'].astype('|S') 
df_clean['pt_name'] = df_clean['pt_name'].astype('|S') 
df_clean['um_name'] = df_clean['um_name'].astype('|S')

In [145]:
df_clean.dtypes

adm0_id                 int64
adm0_name                |S32
adm1_id                 int64
mkt_id                  int64
cm_id                   int64
cm_name                  |S55
cur_id                  int64
cur_name                  |S3
pt_id                   int64
pt_name                   |S9
um_id                   int64
um_name                  |S10
mp_month                int64
mp_year                 int64
mp_price              float64
mp_commoditysource    float64
dtype: object

In [146]:
df2=pd.read_csv("/Users/narenkhatwani/Documents/GitHub/arkouda/Notebooks/Resources/wfpvam_foodprices_utf8.csv")

df2.to_hdf("Food_prices_hdf5.h5", 'data', mode='w', format='table')

/Users/narenkhatwani/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [147]:
print(pd.read_hdf('Food_prices_hdf5.h5', 'data').head(5))

   adm0_id    adm0_name  adm1_id   adm1_name  mkt_id  mkt_name  cm_id  \
0        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
1        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
2        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
3        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
4        1  Afghanistan      272  Badakhshan     266  Fayzabad     55

          cm_name  cur_id cur_name  pt_id pt_name  um_id um_name  mp_month  \
0  Bread - Retail       0      AFN     15  Retail      5      KG         1
1  Bread - Retail       0      AFN     15  Retail      5      KG         2
2  Bread - Retail       0      AFN     15  Retail      5      KG         3
3  Bread - Retail       0      AFN     15  Retail      5      KG         4
4  Bread - Retail       0      AFN     15  Retail      5      KG         5

   mp_year  mp_price  mp_commoditysource
0     2014      50.0                 NaN
1     2014      50.0                 NaN
2     2014      50.0                 NaN
3     2014      50.0                 NaN
4     2014      50.0                 NaN

# 3. Analysis part

In [1]:
import arkouda as ak

ModuleNotFoundError: No module named 'arkouda'

In [ ]:
ak.connect(connect_url='tcp://MacBook-Pro-3.local:5555 ') #connecting to arkouda server